In [1]:
%matplotlib inline
import numpy as np
import sys
import pandas as pd
import matplotlib.pyplot as plt
print sys.version
print "pandas.version:", pd.__version__

2.7.6 (default, Mar 22 2014, 22:59:56)
[GCC 4.8.2]
pandas.version: 0.17.1

In [4]:
from pandas.io import data

* Yahoo Data
* Google Data

In [5]:
?pandas.io.data

In [6]:
pandas.io.data

In [7]:
start = pd.to_datetime('2011-1-1')
end = pd.to_datetime('2015-1-1')

In [8]:
ticker_symbols = ['WTI','CHK', 'TSLA', 'CBAK']#OIL PRODUCER + battery

In [9]:
wti = data.get_data_yahoo(ticker_symbols[0], start=start, end=end)

In [10]:
wti.head()

                 Open       High        Low      Close   Volume  Adj Close
Date
2011-01-03  18.100000  18.430000  17.930000  18.320000   883600  15.483066
2011-01-04  18.480000  18.590000  17.940001  18.040001  1171000  15.246426
2011-01-05  17.950001  18.410000  17.510000  18.250000   644200  15.423906
2011-01-06  18.360001  18.430000  17.799999  17.910000   762700  15.136556
2011-01-07  18.010000  18.120001  17.700001  18.040001   695000  15.246426

In [11]:
for symbol in ticker_symbols:
    print symbol

WTI
CHK
TSLA
CBAK

In [13]:
pan1 = data.get_data_yahoo(ticker_symbols, start = start, end = end)

In [ ]:
pan1

In [ ]:
type(pan1)

In [ ]:
pan1.shape

In [ ]:
pan1.Open.head()

In [14]:
pan1.major_xs('2013-5-1')

           Open       High    Low      Close    Volume  Adj Close
CBAK   0.620000   0.790000   0.60   0.770000     56800   0.770000
CHK   19.900002  19.979996  18.86  19.190006  17267300  17.569929
TSLA  55.990002  55.990002  53.00  53.279999   2742800  53.279999
WTI   11.540000  11.540000  11.03  11.220000    720500  10.394898

In [15]:
pan1.minor_xss('CHK').head()

                 Open       High        Low      Close    Volume  Adj Close
Date
2011-01-03  26.390004  26.650004  26.209997  26.510004  12056500  23.426016
2011-01-04  26.690001  26.690001  25.929998  26.219995  10305300  23.169744
2011-01-05  26.140002  26.589998  26.030001  26.500005   8764600  23.417180
2011-01-06  26.800004  27.360003  26.599998  26.670004  17401300  23.567402
2011-01-07  26.710000  27.019997  26.629995  26.950003  10458000  23.814828

In [16]:
pan1.mean()

           Open       High        Low      Close           Volume  Adj Close
CBAK   1.656451   1.732018   1.595865   1.654354    110536.978131   3.470020
CHK   24.397625  24.743858  24.002088  24.369186  14150370.874751  22.285542
TSLA  96.593976  98.505407  94.558519  96.555656   4466960.834990  96.555656
WTI   17.379592  17.742485  16.988211  17.362227    797623.161034  15.707380

In [17]:
df = pan1.to_frame()

In [18]:
df.index.levels

FrozenList([[2011-01-03 00:00:00, 2011-01-04 00:00:00, 2011-01-05 00:00:00, 2011-01-06 00:00:00, 2011-01-07 00:00:00, 2011-01-10 00:00:00, 2011-01-11 00:00:00, 2011-01-12 00:00:00, 2011-01-13 00:00:00, 2011-01-14 00:00:00, 2011-01-18 00:00:00, 2011-01-19 00:00:00, 2011-01-20 00:00:00, 2011-01-21 00:00:00, 2011-01-24 00:00:00, 2011-01-25 00:00:00, 2011-01-26 00:00:00, 2011-01-27 00:00:00, 2011-01-28 00:00:00, 2011-01-31 00:00:00, 2011-02-01 00:00:00, 2011-02-02 00:00:00, 2011-02-03 00:00:00, 2011-02-04 00:00:00, 2011-02-07 00:00:00, 2011-02-08 00:00:00, 2011-02-09 00:00:00, 2011-02-10 00:00:00, 2011-02-11 00:00:00, 2011-02-14 00:00:00, 2011-02-15 00:00:00, 2011-02-16 00:00:00, 2011-02-17 00:00:00, 2011-02-18 00:00:00, 2011-02-22 00:00:00, 2011-02-23 00:00:00, 2011-02-24 00:00:00, 2011-02-25 00:00:00, 2011-02-28 00:00:00, 2011-03-01 00:00:00, 2011-03-02 00:00:00, 2011-03-03 00:00:00, 2011-03-04 00:00:00, 2011-03-07 00:00:00, 2011-03-08 00:00:00, 2011-03-09 00:00:00, 2011-03-10 00:00:00, 2011-03-11 00:00:00, 2011-03-14 00:00:00, 2011-03-15 00:00:00, 2011-03-16 00:00:00, 2011-03-17 00:00:00, 2011-03-18 00:00:00, 2011-03-21 00:00:00, 2011-03-22 00:00:00, 2011-03-23 00:00:00, 2011-03-24 00:00:00, 2011-03-25 00:00:00, 2011-03-28 00:00:00, 2011-03-29 00:00:00, 2011-03-30 00:00:00, 2011-03-31 00:00:00, 2011-04-01 00:00:00, 2011-04-04 00:00:00, 2011-04-05 00:00:00, 2011-04-06 00:00:00, 2011-04-07 00:00:00, 2011-04-08 00:00:00, 2011-04-11 00:00:00, 2011-04-12 00:00:00, 2011-04-13 00:00:00, 2011-04-14 00:00:00, 2011-04-15 00:00:00, 2011-04-18 00:00:00, 2011-04-19 00:00:00, 2011-04-20 00:00:00, 2011-04-21 00:00:00, 2011-04-25 00:00:00, 2011-04-26 00:00:00, 2011-04-27 00:00:00, 2011-04-28 00:00:00, 2011-04-29 00:00:00, 2011-05-02 00:00:00, 2011-05-03 00:00:00, 2011-05-04 00:00:00, 2011-05-05 00:00:00, 2011-05-06 00:00:00, 2011-05-09 00:00:00, 2011-05-10 00:00:00, 2011-05-11 00:00:00, 2011-05-12 00:00:00, 2011-05-13 00:00:00, 2011-05-16 00:00:00, 2011-05-17 00:00:00, 2011-05-18 00:00:00, 2011-05-19 00:00:00, 2011-05-20 00:00:00, 2011-05-23 00:00:00, 2011-05-24 00:00:00, 2011-05-25 00:00:00, ...], [u'CBAK', u'CHK', u'TSLA', u'WTI']])

In [19]:
df.reset_index()

,Date,minor,Open,High,Low,Close,Volume,Adj Close
0,2011-01-03,CBAK,1.940000,1.990000,1.940000,1.960000,69000,9.800000
1,2011-01-03,CHK,26.390004,26.650004,26.209997,26.510004,12056500,23.426016
2,2011-01-03,TSLA,26.840000,27.000000,25.900000,26.620001,1283000,26.620001
3,2011-01-03,WTI,18.100000,18.430000,17.930000,18.320000,883600,15.483066
4,2011-01-04,CBAK,1.980000,2.070000,1.980000,2.020000,113600,10.100001
5,2011-01-04,CHK,26.690001,26.690001,25.929998,26.219995,10305300,23.169744
6,2011-01-04,TSLA,26.660000,26.950001,26.020000,26.670000,1187400,26.670000
7,2011-01-04,WTI,18.480000,18.590000,17.940001,18.040001,1171000,15.246426
8,2011-01-05,CBAK,2.060000,2.060000,1.930000,1.950000,114900,9.750000
9,2011-01-05,CHK,26.140002,26.589998,26.030001,26.500005,8764600,23.417180
10,2011-01-05,TSLA,26.480000,26.900000,26.190001,26.830000,1446700,26.830000
11,2011-01-05,WTI,17.950001,18.410000,17.510000,18.250000,644200,15.423906
12,2011-01-06,CBAK,1.950000,1.950000,1.900000,1.930000,53600,9.650000
13,2011-01-06,CHK,26.800004,27.360003,26.599998,26.670004,17401300,23.567402
14,2011-01-06,TSLA,26.830000,28.000000,26.809999,27.879999,2061200,27.879999
15,2011-01-06,WTI,18.360001,18.430000,17.799999,17.910000,762700,15.136556
16,2011-01-07,CBAK,1.930000,1.940000,1.860000,1.920000,50600,9.600001
17,2011-01-07,CHK,26.710000,27.019997,26.629995,26.950003,10458000,23.814828
18,2011-01-07,TSLA,28.000000,28.580000,27.900000,28.240000,2247900,28.240000
19,2011-01-07,WTI,18.010000,18.120001,17.700001,18.040001,695000,15.246426
20,2011-01-10,CBAK,1.900000,1.920000,1.850000,1.900000,53300,9.500000
21,2011-01-10,CHK,26.830001,27.050004,26.530004,26.960001,9540500,23.823663
22,2011-01-10,TSLA,28.170000,28.680000,28.049999,28.450001,1342700,28.450001
23,2011-01-10,WTI,17.870001,18.110001,17.750000,17.990000,1041400,15.204168
24,2011-01-11,CBAK,1.910000,1.990000,1.910000,1.990000,80100,9.950000
25,2011-01-11,CHK,27.030007,27.390000,26.800004,27.340003,9874000,24.159459
26,2011-01-11,TSLA,28.590000,28.709999,26.920000,26.959999,1710200,26.959999
27,2011-01-11,WTI,18.040001,18.799999,18.000000,18.100000,971400,15.297134
28,2011-01-12,CBAK,2.000000,2.010000,1.920000,2.010000,102700,10.050000
29,2011-01-12,CHK,27.470003,28.000005,27.460006,27.890003,16053700,24.645475
...,...,...,...,...,...,...,...,...
3994,2014-12-19,TSLA,220.190002,220.399994,214.500000,219.289993,6910500,219.289993
3995,2014-12-19,WTI,6.800000,7.880000,6.750000,7.630000,5775100,7.630000
3996,2014-12-22,CBAK,1.920000,1.930000,1.880000,1.910000,24100,1.910000
3997,2014-12-22,CHK,19.000000,19.200001,18.299999,18.420000,20323700,18.221374
3998,2014-12-22,TSLA,220.000000,224.059998,218.259995,222.600006,4799400,222.600006
3999,2014-12-22,WTI,7.460000,7.690000,6.990000,7.520000,2758500,7.520000
4000,2014-12-23,CBAK,1.950000,2.350000,1.950000,1.980000,103100,1.980000
4001,2014-12-23,CHK,19.430000,20.350000,19.200001,20.290001,21976500,20.071210
4002,2014-12-23,TSLA,223.809998,224.320007,219.520004,220.970001,4505700,220.970001
4003,2014-12-23,WTI,7.610000,7.950000,7.560000,7.670000,2856200,7.670000
4004,2014-12-24,CBAK,1.950000,1.960000,1.890000,1.930000,7400,1.930000
4005,2014-12-24,CHK,20.190001,20.290001,19.600000,19.840000,7504400,19.626062
4006,2014-12-24,TSLA,219.770004,222.500000,219.250000,222.259995,1332200,222.259995
4007,2014-12-24,WTI,7.510000,7.830000,7.420000,7.550000,1098500,7.550000
4008,2014-12-26,CBAK,1.970000,1.980000,1.870000,1.890000,24900,1.890000
4009,2014-12-26,CHK,20.000000,20.180000,19.500000,19.709999,7746500,19.497462
4010,2014-12-26,TSLA,221.509995,228.500000,221.500000,227.820007,3327000,227.820007
4011,2014-12-26,WTI,7.610000,7.790000,7.370000,7.490000,1154900,7.490000
4012,2014-12-29,CBAK,1.890000,1.970000,1.820000,1.940000,42100,1.940000
4013,2014-12-29,CHK,20.000000,20.160000,19.799999,20.010000,9109900,19.794228
4014,2014-12-29,TSLA,226.899994,227.910004,224.020004,225.710007,2802500,225.710007
4015,2014-12-29,WTI,7.650000,7.870000,7.530000,7.720000,1592400,7.720000
4016,2014-12-30,CBAK,1.960000,1.960000,1.860000,1.880000,27200,1.880000
4017,2014-12-30,CHK,19.799999,20.080000,19.510000,19.639999,9890600,19.428217
4018,2014-12-30,TSLA,223.990005,225.649994,221.399994,222.229996,2903200,222.229996
4019,2014-12-30,WTI,7.600000,7.790000,7.430000,7.430000,1106000,7.430000
4020,2014-12-31,CBAK,1.840000,1.920000,1.830000,1.850000,76200,1.850000
4021,2014-12-31,CHK,19.459999,19.990000,19.230000,19.570000,10677900,19.358973
4022,2014-12-31,TSLA,223.089996,225.679993,222.250000,222.410004,2402100,222.410004
4023,2014-12-31,WTI,7.290000,7.440000,6.940000,7.340000,1434700,7.340000